<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
    <style>
      body {
        background-color: #fff;
      }
      .error-box {
        width: 700px;
        height: 400px;
        margin: auto;
        margin-top: 100px;
        background-color: #ff0000;
        color: #000;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.2em;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="error-box">
      Error!
      <br><br>
      <span>Some player you picked might not have played the format you choose or might have retired.</span>
    </div>
  </body>
</html>
